.form_todo {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_input,
.form_button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline: 0;
}
.form_button {
  color: #280034;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form_button:hover {
  background: darkgrey;
}
